.navbar {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;
}

.navbar h3 {
  font-size: 18px;
  font-weight: 600;
}